<input type="text" [(ngModel)] ='title'>
{{ 'Hola mundo' }}
{{ 1+ 2 }}
{{ title }}

<div *ngIf="title === 'angular'">
  este es angular
</div>

<div *ngIf="title === 'react'">
  este es react
</div>

<div *ngIf="title === 'view'">
  este es view
</div>

<div [ngSwitch] = 'title'>
  <p *ngSwitchCase="'angular'">este es angular</p>
  <p *ngSwitchCase="'react'">este es react</p>
  <p *ngSwitchCase="'view'">este es view</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)='addItem()'>Add item</button>
<ul>
  <li *ngIf='items.length === 0'>
    La lista está vacía
  </li>
  <li *ngFor='let i of items; index as indice'>
    {{ i }} {{ indice + 3 }}
    <button (click)='deleteItem()'>delete</button>
  </li>
</ul>

<div *ngFor='let product of products'>
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>
